@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<p>We're sorry, but an error has occurred.</p>
<a class="btn btn-secondary btn-sm" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
@*<p>Status code: @Model.StatusCode</p>
<p>Original path: @Model.OriginalPath</p>*@
