@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}

<h1>SOFT703 - Assignment 2</h1>
<h2>Takeaway10 Order WebApp</h2>

<p>By: Jason Jamora (20210426)</p>

<p>For inquiries about this web app, you can send me an <a href="mailto:jaja006@ess.ais.ac.nz">Email</a>.</p>


<a asp-action="Index" asp-controller="Home" class="mt-2">
    Back to Home
</a>