@model List<Order>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between">
    <div>
        <h2>Orders</h2>
    </div>
    <div class="d-flex align-items-center">
        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="NewOrder">New Order</a>
    </div>
</div>

<table class="table table-bordered">
    <tr class="bg-secondary text-center text-white">
        <th>Order Name</th>
        <th>Status</th>
    </tr>


    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="2" class="text-center">No orders yet</td>
        </tr>
    }
    else
    {
        foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderName</td>
                <td>@order.status</td>
            </tr>
        }
    }
</table>